################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/tutorial-1/2020-tutorial-1.pdf
/tutorial-1/ex_2020_1.png
/tutorial-1/ex_2020_1.png
*.png
